*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4rem;
    font-size: 1.1rem;
}


h1,h2,h3
{
    margin-bottom: 16px;
}

p
{
    margin-bottom: 10px;
}

.container
{
    width:90%;
    max-width: 800px;
    margin: 0px auto;
    padding:32px 0px;
}

.btn
{
    display:inline-block;
    padding:8px;
    width:90px;
}

.btn-primary
{   
    color:white;
    background-color: black;

}


.icon-cursor 
{   
    cursor: pointer;

}

.icon-size-xlg
{
    font-size: x-large;
}

.icon-size-dbl-xlg
{
    font-size: xx-large;
}


.grid
{
    display: grid;
}
.grid-x-right
{
    justify-self: right;
}

.grid-x-center
{
    justify-self: center;
}

.grid-x-left
{
    justify-self: start;
}

.grid-y-top
{
    align-self: top;
}

.grid-y-center
{
    align-self: center;
}

.grid-y-bottom
{
    align-self: end;
}

.grid-col-2
{
    grid-template-columns: repeat(2,1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3,1fr);
}
.grid-col-4
{
    grid-template-columns: repeat(4,1fr);
}

.grid-col-1-200px
{
    grid-template-columns:  1fr 200px;
}

.grid-col-100px-auto
{
    grid-template-columns: 120px auto;
    column-gap: 5px;
}

.hide
{
    display:none;
}

.error
{
    display:block;
    color:red;
    font-size:cal(1rem -2px);
}

/************HEADER**********/
header h1 
{
    font-size: 1.6rem;
}

/*************** MODAL***************/

.modal
{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    z-index:1;
    background-color: rgba(158, 158, 158,0.7);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}

.modal-container
{
    width:400px;
    margin: 0 auto;
    background-color: white;
    padding:50px 32px;
    text-align: center;
}

/************************Search Box*******************/

.search-box-container
{
    margin-top: 20px;
}

.search-box-container  label
{
    margin-top:7px;
    font-weight:bold;
}
/************************moive LIST*******************/
.movie-list-continer
{
    margin-top: 16px;
}

.movie-container
{
    background-color:#aaa;
    margin-bottom: 10px;
    padding:16px;
}

.movie-top-area > p
{
    font-weight: 900;
    font-size:calc(1rem + 5px);

}

.movie-description
{
    font-size:calc(1rem - 2px);
}


/********************ADD FORM***********************/

.form-control-container
{
    margin-top: 20px;
}

.form-control-container label , .form-control-container input 
{
    display:block;
}

.form-control-container label 
{
    font-weight: bold;
}

.form-control 
{
    margin-top: 10px;
    width:100%;
    border: 1px solid black;
    padding:5px;
}
input[type=text].form-control
{
    height:30px;
}

textarea.form-control
{
    height:150px;
}


/********************FOOTER***********************/
footer
{
    font-size: 1.5rem;
}

footer > p
{
    text-align: center;
}